<?xml version="1.0"?>
<!--
/**
 * Pits_QuoteOfTheDay di xml
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="My\PropertySystem\Api\PropertyRepositoryInterface"
                type="My\PropertySystem\Model\PropertyRepository"/>
    <preference for="My\PropertySystem\Api\Data\PropertyInterface"
                type="My\PropertySystem\Model\Property"/>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="property_property_grid_data_source" xsi:type="string">property_data_source</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="property_data_source"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="init_parameter">
                My\PropertySystem\Api\Data\PropertyInterface::PROPERTY_SYSTEM_TABLE_NAME
            </argument>
            <argument name="resourceModel" xsi:type="string">My\PropertySystem\Model\ResourceModel\Property</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="property_property_grid_data_source" xsi:type="string">My\PropertySystem\Model\ResourceModel\Property\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="My\PropertySystem\Model\ResourceModel\Property\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="const">
                My\PropertySystem\Api\Data\PropertyInterface::PROPERTY_SYSTEM_TABLE_NAME
            </argument>
            <argument name="eventPrefix" xsi:type="string">property_property_collection</argument>
            <argument name="eventObject" xsi:type="string">property_collection</argument>
            <argument name="resourceModel" xsi:type="string">My\PropertySystem\Model\ResourceModel\Property</argument>
        </arguments>
    </type>
</config>
