<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="property_system" translate="label" sortOrder="100" class="nalli">
            <label>Property System</label>
        </tab>
        <section id="property_system" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <label>Property System</label>
            <tab>property_system</tab>
            <resource>My_PropertySystem::config</resource>
            <group id="setting" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0"
                   showInStore="0">
                <label>Property System Settings</label>
                <field id="api_url" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1"
                       showInStore="0">
                    <label>Api Url</label>
                </field>
                <field id="api_key" translate="label" type="password" sortOrder="1" showInDefault="1" showInWebsite="1"
                       showInStore="0">
                    <label>Api Key</label>
                </field>
            </group>
        </section>
    </system>
</config>